@import './utils/variables';
@import './utils/base_reset';
@import './utils/mixins';
@import './utils/animations';
@import './components/cards_container';
@import './components/footer';
@import './components/header';
@import './components/pagination';
@import './components/to_top_button';
@import './components/modal_footer';
@import './components/slider_film';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import './components/backdrop';
@import './components/modal_movie';
@import './components/on_search_input';
@import './components/settings';
@import './components/filter';
@import './components/nodata_img';
