<option value='' selected>Усі мови</option>
<option value='en'>Англійська</option>
<option value='fr'>Французька</option>
<option value='de'>Німецька</option>
<option value='it'>Італійська</option>
<option value='es'>Іспанська</option>
<option value='pt'>Португальська</option>
<option value='ru'>Кацапська</option>
<option value='uk'>Українська</option>
<option value='ja'>Японська</option>
<option value='zh'>Китайська</option>
<option value='ar'>Арабська</option>