body {
  font-family: 'Roboto', sans-serif;
  animation-name: Opacity;
  animation-duration: 1000ms;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    outline: none;
    border-radius: 10px;
  }
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 75px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 70px;
  }
}

.is-hidden {
  visibility: hidden;
  display: none;
}
