:root {
	--first-text-color: #ffffff;
	--second-text-color: #000000;
	--third-text-color: #8c8c8c;
	--accent-color: #ff6b01;
	--card-set-gap: 30px;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
