<div class='header__library'>
  <div class='container'>
    <div class='header__container'>
      <button class='header__logo' id='button__logo'>
        <svg class='header__icon' width='32' height='32'>
          <use href='../images/sprite.svg#icon-film'></use>
        </svg>
        <h1 class='header__logo--text'>Filmoteka</h1>
      </button>
      <nav class='navigation'>
        <ul class='navigation__list'>
          <li class='navigation__item'>
            <button class='navigation__button--home' id='button__home'>HOME</button>
          </li>
          <li class='navigation__item'>
            <button
              class='navigation__button--library navigation__button--current'
              id='button__library'
            >MY LIBRARY</button>
          </li>
        </ul>
      </nav>
    </div>
    <ul class='library__btn-list'>
      <li class='btn-list__item'><button
          type='button'
          class='btn__watched'
          id='btn__watched'
        >watched</button></li>
      <li class='btn-list__item'><button
          type='button'
          class='btn__queue'
          id='btn__queue'
        >queue</button></li>
    </ul>
  </div>
</div>