<div class='header__home'>
  <div class='container'>
    <div class='header__container'>
      <button class='header__logo' id='button__logo'>
        <svg class='header__icon' width='32' height='32'>
          <use href='../images/sprite.svg#icon-film'></use>
        </svg>
        <h1 class='header__logo--text'>Filmoteka</h1>
      </button>
      <nav class='navigation'>
        <ul class='navigation__list'>
          <li class='navigation__item'>
            <button
              class='navigation__button--home navigation__button--current'
              id='button__home'
            >HOME</button>
          </li>
          <li class='navigation__item'>
            <button class='navigation__button--library' id='button__library'>MY LIBRARY</button>
          </li>
        </ul>
      </nav>
    </div>
    <form class='search__form' id='search-form'>
      <input
        class='search__form--input'
        type='text'
        name='search'
        placeholder='Search films'
        autocomplete='off'
      />
      <button type='submit' class='search__form--button'>
        <svg width='20' height='20'>
          <use href='./images/sprite.svg#icon-search-2'></use>
        </svg>
      </button>
    </form>
  </div>
</div>