<footer class="footer">
  <div class="wrapper container">
    <!-- kjkhbjkb -->

    <a href="./index.html" class="footer-logo">
      <svg class="footer-logo-svg" width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      Filmoteka
    </a>
    <div class="footer-section">
      <div class="applications">
        <p class="section-desc text-app">OUR APPLICATIONS</p>
        <ul class="app-list">
          <li class="app-item">
            <a href="https://play.google.com/store?hl=uk&gl=US">
              <svg width="120" height="70" class="app-svg">
                <use href="./images/sprite.svg#icon-gogle-play"></use>
              </svg>
            </a>
          </li>
          <li class="app-item">
            <a href="https://www.apple.com/ua/app-store/">
              <svg width="120" height="50" class="app-svg">
                <use href="./images/sprite.svg#icon-app-store"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="support">
        <p class="section-desc text-supp">Support</p>
        <a href="mailto:email@email.com" class="email">email@email.com</a>
      </div>

      <div class="socials">
        <p class="section-desc text-join">JOIN OUR NETWORKS</p>
        <ul class="socials-list">
          <li>
            <a href="https://t.me/junior_developer_ua" class="social-link">
              <svg class="social-svg" width="35" height="35">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" class="social-link">
              <svg class="social-svg" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/channel/UCN7NQEBOUuIoXrJZzqVb58Q/videos" class="social-link">
              <svg class="social-svg" width="20" height="20">
                <use href="./images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- jhggfhfjvjgh -->

    <div class="footer--copyright">
      <p class="copyright">&copy; 2022 | All Rights Reserved |</p>
      <p class="students">
        Developed with
        <svg class="footer--icon" width="14" height="13">
          <use href="./images/sprite.svg#icon-favorite"></use>
        </svg>
        by
        <a class="students--link" data-footer-open>GoIT Students</a>
      </p>
    </div>
  </div>
</footer>