<header class="header" id="header">
  <div class="header__home">
    <div class="container">
      <div class="header__container">
        <a class="header__logo" id="button__logo">
          <div class="fa-3x" style="font-size: 30px; color: var(--accent-color)">
            <i class="fa-solid fa-film fa-flip" style="--fa-animation-duration: 3s"></i>
          </div>
          <h1 class="header__logo--text">Filmoteka</h1>
        </a>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <button
                class="navigation__button--home navigation__button--current"
                id="button__home"
              >
                HOME
              </button>
            </li>
            <li class="navigation__item">
              <button class="navigation__button--library" id="button__library">MY LIBRARY</button>
            </li>
          </ul>
        </nav>
      </div>
      <form class="search__form" id="search-form">
        <div class="search-form_wrapper">
          <input
            class="search__form--input"
            type="text"
            name="search"
            id="searchQuery"
            placeholder="Search films"
            autocomplete="off"
          />
        </div>
        <ul class="search-form-list" id="search-list" data-action="current"></ul>
        <button type="submit" class="search__form--button">
          <svg width="20" height="20">
            <use href="./images/sprite.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>

      <ul class="library__btn-list">
        <li class="btn-list__item">
          <button type="button" class="btn__watched btn__library--active" id="btn__watched">
            watched
          </button>
        </li>
        <li class="btn-list__item">
          <button type="button" class="btn__queue" id="btn__queue">queue</button>
        </li>
      </ul>

      <div class="function__panel">
        <div class="filter__wrapper">
          <button
            type="button"
            style="font-size: 30px; color: var(--accent-color)"
            class="filter-icon"
          >
            <i class="fa-solid fa-filter"></i>
          </button>

          <button
            type="button"
            style="font-size: 30px; color: var(--accent-color)"
            class="filter-icon-close is-hidden"
          >
            <i
              class="fa-solid fa-filter-circle-xmark"
              style="font-size: 30px; color: var(--accent-color)"
            ></i>
          </button>
          <p class="filter__text">Filter</p>
        </div>

        <div class="lang-theme__wrapper">
          <div class="lang-theme__wrapper2">
            <select class="theme" name="select">
              <option class="theme--auto" value="auto" selected>Auto</option>
              <option class="theme--dark" value="dark">Dark</option>
              <option class="theme--light" value="light">Light</option>
            </select>
            <ul class="lang-theme-icon__wrapper">
              <li class="icon-sun">
                <i class="fa-solid fa-sun"></i>
              </li>
              <li class="icon-moon">
                <i class="fa-solid fa-moon"></i>
              </li>
            </ul>
          </div>

          <ul class="panel__list">
            <li class="panel__list--item">
              <button class="panel__list--button active-select btn-en" value="en"></button>
            </li>
            <li class="panel__list--item">
              <button class="panel__list--button btn-ua" value="uk"></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
