<div class="backdrop">
  <div class="modal-window">
    <button class="button-close" data-modal-close>
      <svg class="button-close__icon-close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="movie-modal">
    <img class="movie-modal__image" src="/images/default.jpg" alt="movie" loading="lazy" />
    <div class="movie-card">
      <h2 class="movie-card__title">A FISTFUL OF LEAD</h2>
      <div class="movie-card__data">
        <ul class="movie-card__list">
          <li class="movie-card__attribute"><p>Vote / Votes</p></li>
          <li class="movie-card__attribute"><p>Popularity</p></li>
          <li class="movie-card__attribute"><p>Original Title</p></li>
          <li class="movie-card__attribute"><p>Genre</p></li>
        </ul>
        <ul class="movie-card__list movie-card__list_right">
          <li class="movie-card__value">
            <p><span class="movie-card__vote">7.3</span> / 1260</p>
          </li>
          <li class="movie-card__value">100.2</li>
          <li class="movie-card__value">A FISTFUL OF LEAD</li>
          <li class="movie-card__value">Western</li>
        </ul>
      </div>
      <h3 class="movie-card__about_title">About</h3>
      <p class="movie-card__about">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
      <ul class="movie-card__buttons-list">
        <li class="movie-card__button-item">
          <button type="button" class="movie-card__button movie-card__button_active">add to Watched</button>
        </li>
        <li class="movie-card__button-item">
          <button type="button" class="movie-card__button movie-card__button_inactive">add to queue</button>
        </li>
      </div>
  </div>
  </div>
</div>
