<div class="backdrop">
  <div class="movie-modal">
    <img class="movie-modal__image" src="/images/default.jpg" alt="movie" loading="lazy" />
    <div class="movie-card">
      <h2 class="movie-card__title">A FISTFUL OF LEAD</h2>
      <div class="movie-card__data">
        <ul class="movie-card__list">
          <li class="movie-card__attribute"><p>Vote / Votes</p></li>
          <li class="movie-card__attribute"><p>Popularity</p></li>
          <li class="movie-card__attribute"><p>Original Title</p></li>
          <li class="movie-card__attribute"><p>Genre</p></li>
        </ul>
        <ul class="movie-card__list movie-card__list_right">
          <li class="movie-card__value"><p><span class="movie-card__vote">7.3</span>/ 1260</p></li>
          <li class="movie-card__value">100.2</li>
          <li class="movie-card__value">A FISTFUL OF LEAD</li>
          <li class="movie-card__value">Western</li>
        </ul>
      </div>
    </div>
  </div>
</div>
