<!-- Модалка -->

<div class="backdrop is-hidden footer__backdrop js-backdrop swiper" data-modal-footer>

    <div class="footer-modal">
      <button type="button" class="footermodal__btn-close" data-footer-close>
        <svg width="15" height="15">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
        <div class="swiper-wrapper">
          <!-- Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

    </div>

</div>
