<div class="lang-theme__wrapper container is-hidden">
  <select class="theme" name="select">
    <option class="theme--auto" value="auto" selected>Auto</option>
    <option class="theme--dark" value="dark">Dark</option>
    <option class="theme--light" value="light">Light</option>
  </select>
  <ul class="lang-theme-icon__wrapper">
    <li class="icon-sun">
      <i class="fa-solid fa-sun"></i>
    </li>
    <li class="icon-moon">
      <i class="fa-solid fa-moon"></i>
    </li>
  </ul>

  <ul class="panel__list">
    <li class="panel__list--item">
      <button class="panel__list--button active-select btn-en" value="en"></button>
    </li>
    <li class="panel__list--item">
      <button class="panel__list--button btn-ua" value="uk"></button>
    </li>
  </ul>
</div>
