.footer {
  background-color: #f7f7f7;
}

.footer--copyright {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #545454;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.copyright {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 3px;
  }
}

.students {
  display: flex;
  justify-content: center;
  align-items: center;

  &--link {
    margin-left: 3px;
    text-decoration: underline;
  }
}
.footer__logo__icon {
  margin-right: 13px;
}
.footer--icon {
  animation: Scale 0.7s ease infinite alternate;
  margin-left: 7px;
  margin-right: 7px;
}

// update

.footer-logo {
  font-size: 25px;
  font-weight: 500;
  color: var(--accent-color);
  display: flex;
  margin-bottom: 15px;
  padding-top: 15px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.footer-logo-svg {
  margin-right: 10px;
}

.footer-section {
  width: 100%;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 15px;
  }
}

.support {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
  }
}

.support .section-desc {
  margin-bottom: 40px;
}

.email {
  color: #545454;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.applications {
  text-align: center;
  padding: 10px;

  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.app-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app-item {
  color: #545454;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 25px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: transform 500ms ease;
  }
}

.app-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 25px;
  }
}

.app-svg {
  fill: #545454;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-item:focus .app-svg,
.app-item:hover .app-svg {
  fill: var(--accent-color);
}

.section-desc {
  margin-bottom: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.1;
}

.socials {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.socials .section-desc {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.socials-list {
  display: flex;
  justify-content: space-evenly;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: var(--first-text-color);
  }
}