/////HOME

.header {
  background-color: #000001;
}

.header__home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  padding-top: 70px;

  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/main_bg_img_mobile_1x-min.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_bg_img_mobile_2x-min.jpg);
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_bg_img_mobile_3x-min.jpg);
  }
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_bg_img_tablet_1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/main_bg_img_tablet_2x-min.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/main_bg_img_tablet_3x-min.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_bg_img_desktop_1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/main_bg_img_desktop_2x-min.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/main_bg_img_desktop_3x-min.jpg);
    }
  }
}

.header__container {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.header__icon--container {
  display: flex;
  flex-direction: column;
  transform: translateY(-13px);
}

.header__icon--top {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon--bottom {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  &:hover,
  &:focus {
    animation: Glow 0.5s ease infinite alternate;
  }
  &--text {
    display: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    margin-left: 12px;
    color: var(--first-text-color);

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.navigation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  margin-left: auto;
  &__list {
    display: flex;
  }
  &__button--home,
  &__button--library {
    background-color: transparent;
    color: var(--first-text-color);
    padding: 20px 20px;
    &:hover {
      color: var(--accent-color);
    }
  }
}
.navigation__button--current {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    animation-name: Move;
    animation-duration: 1000ms;
    width: 35px;
    height: 4px;
    background-color: var(--accent-color);
    bottom: 15px;
    right: 19px;
    border-radius: 2px;
  }
}

.navigation__button--current2 {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    animation-name: Move;
    animation-duration: 1000ms;
    width: 70px;
    height: 4px;
    background-color: var(--accent-color);
    bottom: 15px;
    right: 19px;
    border-radius: 2px;
  }
}

.search__form {
  display: flex;
  justify-content: center;
  position: relative;
}

.search__form--input {
  padding-left: 3px;
  padding-right: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--first-text-color);
  color: var(--first-text-color);
  @media screen and (min-width: $tablet) {
    width: 336px;
  }
  &::placeholder {
    color: var(--first-text-color);
    font-size: 14px;
    line-height: 1.14;
  }
}

.search__form--button {
  position: absolute;
  bottom: 2px;
  right: 31%;
  background-color: transparent;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    bottom: 2px;
    right: 24%;
  }

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    bottom: 2px;
    right: 24%;
  }
  @media screen and(min-width: 320px) and (max-width: 767px) {
    bottom: 0;
    right: 16%;
  }
}

/////Library

.header__library {
  animation-name: Opacity2;
  animation-duration: 1000ms;
  background-size: cover;
  background-position-y: 100%;
  background-repeat: no-repeat;
  padding-top: 60px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/library_bg_img_mobile_1x-min.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_bg_img_mobile_2x-min.jpg);
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_bg_img_mobile_3x-min.jpg);
  }
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_bg_img_tablet_1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library_bg_img_tablet_2x-min.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library_bg_img_tablet_3x-min.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: 1600px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_bg_img_desktop_1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library_bg_img_desktop_2x-min.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library_bg_img_desktop_3x-min.jpg);
    }
  }
}

.library__btn-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn__watched {
  background-color: transparent;
  color: var(--first-text-color);
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 15px;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    width: 136px;
  }
}

.btn__queue {
  background-color: transparent;
  width: 130px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: var(--first-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    width: 136px;
  }
}

.btn__library--active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
