/* // Модалка */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  // @include flex(flex, center, center, null, null);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .footer-modal {
      transform: scale(2) rotate(360deg);
      background-color: rgba(255, 255, 255, 0.788);
    }
  }
  }


.footer__backdrop {
  z-index: 5;
}

.footer-modal{
  width: 300px;
  height: 600px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}

// .contacts-modal {
//   position: relative;
//   width: 300px;
//   height: 400px;
//   background-color: $light-bg-color;
//   padding: 40px 30px;
//   border-radius: 24px;
//   // background-image: url('../images/milk-bg-480.png'),
//   //   linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);
//   background-repeat: no-repeat;
//   background-size: contain;
//   box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
//   transform: scale(1) rotate(-360deg);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

// //   @media screen and(min-width:768px) {
// //     width: 450px;
// //   }

// //   @media screen and(min-width:768px) {
// //     // background-image: url('../images/milk-bg-480.png'),
// //     //   linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);

// //     @media screen and (min-device-pixel-ratio: 2),
// //     (-webkit-min-device-pixel-ratio: 2),
// //     screen and (min-resolution: 192dpi),
// //     screen and (min-resolution: 2dppx) {
// //       // background-image: url('../images/milk-bg-480@2x.png'),
// //       //   linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);
// //     }
// //   }
// // }

// .modal__btn-close {
//   cursor: pointer;
//   text-align: center;
//   vertical-align: middle;
//   background-color: $primary-light-text-color;

//   border: none;
//   width: 25px;
//   height: 25px;
//   top: 5px;
//   right: 15px;
//   position: absolute;
//   border-radius: 25px;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   fill: $icon-color;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal__btn-close:hover,
// .modal__btn-close:focus {
//   background-color: $icon-color;
//   fill: $dark-accent-color;
// }

// .contacts-modal__text {
//   color: $secondary-dark-text-color;
//   font-family: DM Sans;
//   font-size: 16px;
//   line-height: 1.3;
//   margin-bottom: 25px;

//   @media screen and(min-width:768px) {
//     font-size: 18px;
//     margin-bottom: 35px;
//   }
// }

// .contacts-form {
//   margin-bottom: 20px;
// }

// .contacts-form__div:not(:last-child) {
//   margin-bottom: 10px;

//   @media screen and(min-width: 768px) {
//     margin-bottom: 16px;
//   }
// }

// .contacts-input {
//   @include font(DM Sans, 12px, null, null, null, null);
//   padding-left: 5px;
//   border-radius: 4px;
//   outline: none;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   height: 25px;
//   width: 230px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus,
//   &:hover {
//     border-color: $dark-accent-color;
//   }

//   @media screen and(min-width:768px) {
//     width: 370px;
//     height: 35px;
//     font-size: 16px;
//   }
// }

// .modal__btn-submit {
//   @include font(DM Sans, 16px, null, null, null, null);
//   position: absolute;
//   cursor: pointer;

//   text-align: center;
//   background-color: $light-accent-color;
//   color: $primary-light-text-color;
//   border: none;
//   width: 70px;
//   height: 25px;

//   bottom: 10%;
//   border-radius: 4px;
//   padding: 0;
//   outline: none;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @media screen and(min-width: 768px) {
//     width: 90px;
//     height: 35px;
//     font-size: 18px;
//   }
// }

// .contacts__milk {
//   position: absolute;
//   bottom: -10px;
//   right: -27px;
//   width: 150px;
//   height: 160px;
// }