%modal-font {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.modal-movie {
  animation: Opacity 1.5s ease alternate;
  background-color: var(--first-text-color);
  z-index: 1000;
  border-radius: 20px;

  @media screen and(min-height: 390px) and (min-width: 844px) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
    position: relative;
  }

  position: relative;
  width: 280px;
  padding: 48px 20px 40px 20px;
  margin: 20px auto;

  @media screen and(min-width: $tablet) {
    position: absolute;
    width: 704px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px 72px 40px 36px;
  }
  @media screen and(min-width: $desktop) {
    width: 814px;
    height: 558px;
    // padding: 40px 16px 40px 14px;
    padding: 40px 30px 40px 30px;
  }
}

.movie-card {
  @media screen and(min-width: $tablet) {
    display: flex;
  }

  &__thumb {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
    position: relative;

    @media screen and (min-width: $tablet) {
      width: 264px;
      height: 374px;
      margin-bottom: 0px;
      margin-right: 68px;
      flex-basis: calc((100% / 2) - 34px);
    }
    @media screen and (min-width: $desktop) {
      height: 478px;
      margin-right: 40px;
      flex-basis: calc((100% / 2) - 52px);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}

.movie-data {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% / 2) - 34px);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% / 2) - 4px);
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.16;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &__data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
      justify-content: flex-start;
    }
  }

  &__list {
    @extend %modal-font;
    line-height: 1.33;
    flex-basis: content;

    & > li:not(:last-child) {
      margin-bottom: 8px;
    }
    &_right {
      margin-left: 39px;
      flex-basis: calc(100% - 108px);
      @media screen and(min-width: $tablet) {
        margin-left: 39px;
        flex-basis: calc(100% - 108px);
      }
      @media screen and(min-width: $desktop) {
        margin-left: 83px;
        flex-basis: calc(100% - 152px);
      }
    }
  }

  &__attribute {
    color: var(--third-text-color);
  }

  &__value {
    color: var(--second-text-color);
  }

  &__vote {
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 16px;
    background-color: var(--accent-color);
    color: var(--first-text-color);
    border-radius: 5px;
  }

  &__about {
    @extend %modal-font;
    line-height: 1.67;
    color: var(--second-text-color);
    margin-bottom: 20px;
    &_title {
      @extend .movie-data__about;
      line-height: 1.33;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  &__button-item {
    flex-basis: calc((100% / 2) - 10px);
    @media screen and(min-width: $tablet) {
      flex-basis: calc((100% / 2) - 7px);
    }

    @media screen and (min-width: $desktop) {
      flex-basis: content;
    }

    &:not(:last-child) {
      margin-right: 20px;
      @media screen and(min-width: $tablet) {
        margin-right: 15px;
      }
    }
  }

  &__buttons-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    @media screen and (min-width: $desktop) {
      justify-content: flex-start;
    }
  }
  &__button {
    @extend %modal-font;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;

    &_watched {
      // color: var(--first-text-color);
      // background-color: var(--accent-color);
      border: 1px solid var(--second-text-color);
      padding: 6px 27px;
      @media screen and(min-width: $tablet) {
        padding: 14px 10px;
      }
      @media screen and(min-width: $desktop) {
        padding: 14px 18px;
      }
    }
    &_queue {
      padding: 13px 12px;
      border: 1px solid var(--second-text-color);
      @media screen and(min-width: $tablet) {
        padding: 13px 20px;
      }
      @media screen and(min-width: $desktop) {
        padding: 14px 26px;
      }
    }
    &_active {
      color: var(--first-text-color);
      background-color: var(--accent-color);
    }
  }
}

.button-close {
  position: absolute;
  @include centralFlex();
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  transform: scale(1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
    border-color: var(--accent-color);
  }

  &__icon-close {
    stroke: #000;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__icon-close,
  &:focus &__icon-close {
    stroke: var(--accent-color);
  }
}

.open-trailer {
  background: var(--accent-color);
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--accent-color);
  animation: grow 1s infinite;

  &__icon::after {
    content: '';
    background-image: url(../images/play-button.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes grow {
  from {
    box-shadow: 0px 0px 1em white;
  }
  to {
    box-shadow: 0px 0px 3em white;
  }
}
