  .nodata-image{
    margin: 0 auto;
  }
  .nodata-text{
    margin-top: 10px;
    @include fonts(1.33, 700, 44px, center, null, uppercase);
    &.light{
      color: var(--second-text-color);
    }
    &.dark{
      color: var(--first-text-color);
    }
  }
  .nodata-text-description{
    margin-top: 10px;
    @include fonts(1.33, 700, 28px, center, null, null);
    color: var(--accent-color);
  }
