.search-form_wrapper {
  border-bottom: 0.5px solid var(--first-text-color);
  position: relative;
  display: flex;
}

.search-form-list {
  position: absolute;
  left: 12%;
  top: 100%;
  width: 215px;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    width: 348px;
    left: 22%;
  }

  @media screen and (min-width: $desktop) {
    width: 345px;
    left: 31%;
  }

  &__thumbnail {
    width: 40px;
    margin-right: 15px;
  }

  &__thumbnail img {
    border-radius: 5px;
  }

  &__item {
    display: flex;
    align-items: center;

    background-color: var(--second-text-color);
    padding: 0.3rem;
    width: 340px;

    color: var(--first-text-color);
    cursor: pointer;
    transition: background-color 200ms ease;
    &:hover {
      background-color: #1f1f1f;
    }
  }

  &__info {
  }

  &__info h3 {
    width: 280px;
    font-weight: bold;
    font-size: 0.7rem;
  }

  &__info p {
    font-weight: bold;

    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.6;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    outline: none;
    border-radius: 10px;
  }
}

// js related class
.hide-search-list {
  display: none;
}
