.theme {
  background-color: #000;
  color: var(--accent-color);
  font-size: 12px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.icon-sun {
  font-size: 25px;
  margin-right: 20px;
  color: var(--first-text-color);
}

.icon-moon {
  font-size: 25px;

  color: var(--first-text-color);
}

.lang-theme__wrapper {
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: #000;
  width: 270px;
  animation-name: Opacity;
  animation-duration: 1000ms;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.lang-theme__wrapper.is-hidden {
  visibility: hidden;
  display: none;
}
.lang-theme-icon__wrapper {
  display: flex;
  align-items: center;
}

.panel__list {
  display: flex;
  align-items: center;
  margin-left: 20px;
  &--item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.settings {
  background-color: rgba(87, 61, 61, 0.315);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 15px;

  &__text {
    color: var(--first-text-color);
    margin-left: 10px;
  }
}

.function__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 80px;
  z-index: 1;
  background-color: transparent;
}

.panel__list--button {
  display: inline-block;
  padding-top: 10px;
  height: 20px;
  width: 30px;
  background-size: cover;
  background-color: transparent;
  border-radius: 5px;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 1);
  }
}

.btn-ua {
  background-image: url(../images/ua.svg);
}
.btn-en {
  background-image: url(../images/eng.svg);
}

.language__list {
  margin-left: 20px;
}

.active-select {
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 1);
}
