#toTop {
  position: fixed;
  display: inline-block;
  width: 200px;
  height: 250px;
  top: 500px;
  left: 1300px;
  z-index: 0;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
// #toTop:hover {

// }

#toTop svg {
  position: relative;
  top: 12px;
  right: -1px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(8%);
  bottom: calc(11%);
}

.to-top-arrow {
  transform: rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: rotate(0deg);
  }
}
